* {
    box-sizing: border-box;
    padding: 0;
}


body {
    background-color: aquamarine;
    
}


header nav {
    height: 100px;
}

container {
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 80px;
    height: 100%;
}

h1 {
    font-size: 50px;
    color: blue;
}

main {
    height: calc(100% - 100px - 100px);
}

.logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
}


main img {
    width: 600px;
    display: block;
    border-radius: 15px;
}

.image-detail {
    width: 1000px;
    border-radius: 15px;
}

footer .logo-footer {
    border-radius: 50%;
    width: 40px;
}

footer ul li a {
   color: blue;
}

.text-color {
    color: blue;
    font-size: 20px;
}

.text {
    color: blue;
    font-weight: bold;
}

.details-message {
    font-size: 38px;
}

.size-text {
    font-size: 20px;
}

container {
    max-width: 1600px;
    background-color: grey;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 80px;
    height: 100%;
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(248,249,250);
}