* {
    box-sizing: border-box;
    padding: 0;
}


body {
    background-image: url('/img/sfondo.jpg');
    background-position: initial;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

header nav {
    height: 100px;
}

container {
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 80px;
}


.logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    color: blue;
}

main {
    height: calc(100% - 100px - 100px);
}

.table {
    --bs-table-bg: none;
}

.table > :not(caption) > * > * , table{
        
    background-color: lightcyan;  
}

table .color-text {
    color: blue;
    font-size: 18px;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
    border-radius: 15px;
}

.text-category{
    color: blue;
    font-size: 18px;
}

footer {
    height: 100px;
    background-color: rgb(248,249,250);
}

footer ul li a{
    color: blue;
}

.text-color {
    color: blue;
    font-size: 23px;
}

.text {
    color: blue;
    font-weight: bold;
}


.card {
    height: 560px;
    width: 350px;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-photo {
    display: block;
    transform: scale(1);
    transition: all .2s linear;
    
}

.card-photo:hover {
    transform: scale(1.1);
    z-index: 3;
}

.category-name{
    background-color: blue;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
}

.container-no-photo {
    background-color: red;
    margin: 0 auto;
    margin-bottom: 65px;
    width: 500px;
    margin-top: 25px;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
}

.search-input{
    width: 1096px;
}

.id-category{
   text-align: center;
}