* {
    box-sizing: border-box;
    padding: 0;
}


body {
    background-image: url('/img/background-hd.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;  
    margin-top: 610px;
}


h1 {
    color: rgb(203,161,99);
    font-weight: bold;
    font-size: 43px;
    margin-top: 25px;
    margin-bottom: 80px;
}


.album {
    background-color: rgb(217,194,123);
    padding-top: 15px;
    width: 1350px;
}


.card {
    height: 630px;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-photo {
    display: block;
    transform: scale(1);
    transition: all .2s linear;
}

.card-photo:hover {
   transform: scale(1.1);
   z-index: 3;
}



