html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.button-user {
    width: 140px;
    height: 36px;
    border: 3px solid grey;
    border-radius: 10px;
}

.button-user:hover {
    background-color: rgb(224,255,255);
}
